.aline{
    /* background-image: url("background-color: url(https://www.pexels.com/photo/ripples-in-brown-sand-1535421/);"); */
    background-size: cover;
    background-color: rgb(203, 215, 219);
}
.footer{
    text-align: center;
    margin-top: 0%;
    color: rgb(10, 10, 10);

  }