.aline{
    background-image: url("src/assets/flower-3175428__340.jpg");
    background-size: cover;
    /* background-color: rgb(203, 215, 219); */
}
.footer{
    text-align: center;
    margin-top: 0%;
    color: rgb(10, 10, 10);

  }